<div class="wrapper">
  <div class="intro">
    <div class="title">
      <h1>Family Photos</h1>
    </div>
    <div class="background-intro">
      <img src="../../assets/img/bark-branch-branches-2376411.jpg" alt="tree">
    </div>
  </div>
  <div class="page-two">
    <div class="album-menu">
      <a href="travel">Travel</a>
      <a href="easter">Easter</a>
      <a href="xmas">Christmas</a>
      <a href="sasha">Sasha</a>
      <a href="camilla">Camilla</a>
      <a href="nina">Nina</a>
    </div>
    <div class="photo-album one">
     <app-travel></app-travel>
    </div>
    <div class="photo-album two">
      <app-easter></app-easter>
    </div>
    <div class="photo-album three">
      <app-xmas></app-xmas>
    </div>
    <div class="photo-album four">
      <app-sasha></app-sasha>
    </div>
    <div class="photo-album five">
      <app-camilla></app-camilla>
    </div>
    <div class="photo-album six">
      <app-nina></app-nina>
    </div>
  </div>
  <div class="footer">
    <h3><a href="aleksandra">Aleksandra Dooley's</a> portfolio page</h3>
  </div>
</div>
