<div class="wrapper">
  <div class="intro">
    <div class="title">
      <h1>Family Photos</h1>
    </div>
    <div class="background-intro">
      <img src="../../assets/img/bark-branch-branches-2376411.jpg" alt="tree">
    </div>
    <div class="album-menu">
      <h3>The menu will be here!</h3>
    </div>
  </div>
  <div class="photo-album">
    <h1>Photos here eventually!</h1>
  </div>
  <div class="footer">
    <h3>I will include a link for my own page here! plus the weird morinack.com that dad had before </h3>
  </div>
</div>
