<div class="wrapper">
  <div class="intro">
    <div class="title">
      <h1>Family Photos</h1>
    </div>
    <div class="background-intro">
      <img src="../../assets/img/bark-branch-branches-2376411.jpg" alt="tree">
    </div>
  </div>
  <div class="page-two">
    <div class="album-menu">
      <a href="travel">Travel</a>
      <a href="easter">Easter</a>
      <a href="xmas">Christmas</a>
      <a href="sasha">Sasha</a>
      <a href="camilla">Camilla</a>
      <a href="nina">Nina</a>
    </div>
    <div class="photo-album">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="footer">
    <h3><a href="aleksandra">Aleksandra Dooley's</a> portfolio page</h3>
  </div>
</div>
