/* Header */

.header {
  width: 100%;
  vertical-align: top;
  position: absolute;
  background-color: white;
  opacity: .5;
  z-index: 100;
}
  .header h4 {
    display: inline-block;
  }

/* Horizontal Scroll area */

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  .page {
    flex: 0 0 auto;
  }
}

/* first page */
.intro {
  min-width: 100%;
  height: 100vh;
  background-image: url('../../assets/img/altitude-clouds-cold-879443.jpg');
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

  .body {
    text-align: center;
    min-width: 100%;
    margin-top: 25vh;
    display: inline-block;
  }
  .body h1 {
    padding: 5px;
    margin: 0;
  }

  .body span {
    font-family: 'Stalemate';
    font-weight: bolder;
    color: rgb(0, 0, 0);
    font-size: 72px;
    height: 90px;
    padding: 5px;
    margin: 0px;
  }
  .body span:hover {
    background: -webkit-linear-gradient(rgb(78, 165, 187), rgb(79, 52, 143));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

/* Skills */

.skills {
  background-image: linear-gradient(to bottom right, rgb(57, 180, 133), rgb(65, 226, 247), rgb(119, 210, 238));
  min-width: 100%;
  height: 100vh;
}

/* Education */

.education {
  background-image: linear-gradient(to bottom right, rgb(80, 57, 180), rgb(214, 119, 238));
  min-width: 100%;
  height: 100vh;
}

/* Projects */

.projects {
  background-image: linear-gradient(to bottom right, rgb(180, 57, 114), rgb(176, 238, 119));
  min-width: 100%;
  height: 100vh;
}

/* Last Page */

.end {
  background-image: linear-gradient(to bottom right, rgb(57, 180, 164), rgb(214, 119, 238));
  min-width: 100%;
  height: 100vh;
}

/* Footer */

.footer {
  vertical-align: bottom;
  background-color: red;
  color: purple;
}

.footer-section {
  background-color: white;
  opacity: .5;
  z-index: 100;
  position: absolute;
    bottom: 0;
    width: 100%;
}
  .footer-section h2, h4, i, p {
    display: inline-block;
  }
