<div class="scrolling-wrapper">
  <div class="header">
    <h4>Logo or picture of me here that becomes a button that opens an about me angular component</h4>
  </div>
  <div class="page intro">
    <div class="body">
      <h1>Hi! My name is </h1>
      <h1><span>Aleksandra Dooley</span></h1>
      <h2>Full-Stack Web Developer</h2>
      <p>Intro blah blah blah</p>
    </div>
  </div>
  <div class="page skills">
    <h1>My Skills</h1>
    <h3>Logo Logo Logo Logo</h3>
  </div>
  <div class="page education">
    <h2>Blah Blah Blah UCCS Blah Blah Blah Coding Dojo</h2>
  </div>
  <div class="page projects">
    <h2>My Projects!</h2>
    <h3>Box Box Box Box</h3>
  </div>
  <div class="page end">
    <div class="contact-section">
      <h2>Contact ME!</h2>
    </div>
    <div class="note-section">
      <h2>Leave me a note!</h2>
    </div>
  </div>
  <div class="footer-section">
    <h2>Footer</h2>
    <h4>I am part of the footer can you see me yet?</h4>
    <i class="fab fa-facebook"></i>
    <i class="fab fa-facebook"></i>
  </div>
</div>
