<div class="navigation">
  <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

  <label for="navi-toggle" class="navigation__button">
      <span class="navigation__icon">&nbsp;</span>
  </label>

  <div class="navigation__background">&nbsp;</div>

  <nav class="navigation__nav">
      <ul class="navigation__list">
        <li class="navigation__item"><a href="#" class="navigation__link"><span>01</span>About Natous</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link"><span>02</span>Your benfits</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link"><span>03</span>Popular tours</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link"><span>04</span>Stories</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link"><span>05</span>Book now</a></li>
      </ul>
  </nav>
</div>
<div class="header">
  <h4>How about some kind of logo or something here.</h4>
</div>
<div class="scrolling-wrapper">
  <div class="page intro">
    <div class="body">
      <h1>Aleksandra Dooley</h1>
      <h2>Full-Stack Web Developer</h2>
      <p>Intro blah blah blah</p>
    </div>
  </div>
  <div class="page skills">
    <h1>My Skills</h1>
    <h3>Logo Logo Logo Logo</h3>
  </div>
  <div class="page education">
    <h2>Blah Blah Blah UCCS Blah Blah Blah Coding Dojo</h2>
  </div>
  <div class="page projects">
    <h2>My Projects!</h2>
    <h3>Box Box Box Box</h3>
  </div>
  <div class="page end">
    <div class="contact-section">
      <h2>Contact ME!</h2>
    </div>
    <div class="note-section">
      <h2>Leave me a note!</h2>
    </div>
  </div>
</div>
<div class="footer-section">
  <h2>Footer</h2>
</div>

